<!-- inscricoes/templates/inscricoes/inscricao_list.html -->

{% extends 'inscricoes/base.html' %}

{% block content %}
{{inscricoes}}
<h2>Lista de Inscrições</h2>
<a href="{% url 'inscricao_create' %}" class="btn btn-primary">Adicionar Nova Inscrição</a>
<ul class="list-group mt-3">
    {% for inscricao in inscricoes %}
        <li class="list-group-item">
            Nome: {{ inscricao.1 }} | Matrícula: {{ inscricao.2 }} | Email: {{ inscricao.3 }}
            <a href="{% url 'inscricao_update' inscricao.0 %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'inscricao_delete' inscricao.0 %}" class="btn btn-danger btn-sm">Deletar</a>
        </li>
    {% empty %}
        <li class="list-group-item">Não há inscrições registradas.</li>
    {% endfor %}
</ul>
{% endblock %}
